body{
    background-image: url("./shore-914149_640.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 98%;
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;    

}

.container {
    width: 50%;
    height: auto;
    background: var(--background);
    /* backdrop-filter: blur(0.5rem); */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 1.8rem 3.7rem var(--box_shadow);
}

.search_box {
    background: var(--background);
    backdrop-filter: blur(0.5rem);
    width: 40rem;
    background: rgba(255, 255, 255, 0.2);
    /* background: rgba(243, 248, 247, 0.2); */
    background-color: rgb(208, 195, 195); 
    /* background: transparent; */

    display: flex;
    align-items: center;
    border-radius: 3rem;
    padding: 1rem 1rem;
    backdrop-filter: blur(0.4rem) saturate(180%);
    box-shadow: 0 1.8rem 3.7rem var(--box_shadow);
    margin-top: 15rem;
  } 
  .search_box input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0 1rem;
    font-size: 1.6rem;
    color:var(--dark-color);
  }
  .search_box input::placeholder {
    color: var(--dark-color);
  }
  .search_box button {
    border: 0;
    border-radius: 50%;
    background:var(--orange-color);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
  }
.search_box .icon {
    width: 2rem;
    height: 2rem; 
    padding: 0.5rem;
    color: var(--dark-color); 
  }

  /*#show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  #show h2 {
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 0.18rem;
    font-weight: 600;
    font-size: 3.0rem;
    margin: 3rem 0 2rem 0;
  }

  #show img {
    margin: rem 0 0 0;
    width: 4rem;
    filter: drop-shadow(0 1.8rem 3.7rem var(--shadow));
  }
  #show h1 {
    font-size: 7rem;
    margin: 2rem 0 2rem 0;
    line-height: 0;
    font-weight: 500;
    color: var(--dark-color);
  }

  .temp_container {
    display: flex;
    justify-content: center;
    margin: 3rem 0 5rem 0;
    text-align: center;
  }
  .temp_container div {
    padding: 1rem 1.5rem;
  }
  .temp_container div:first-child {
    border-right: 0.1rem solid var(--border);
  }

  .temp_container .title {
    font-weight: 600;
    color: var(--dark-color);
    font-size: 1.6rem;
  }
  .temp_container .temp {
    font-weight: 600;
    color: var(--orange-color);
    font-size: 1.6rem;
  }